.top-container{
    display: block;
    text-align: center;
    margin-top: 0;
    padding: 115px;
    position: relative;
}

@font-face {
    font-family: horizon;
    src: url("./assets/horizon.otf");
}

h1{
    color: white;
    font-family: horizon;
    font-size: 8rem;
    padding-top: 0px;
    margin-top: 30px;
    margin-bottom: 0;
}
.pal{
    color: #6d5b47;
}

body{
    background-color: #decdbb;
    margin: 0;
}

.images{
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 100px;
}

.video-edit{
    height: 80px;
    padding-right: 20px;
}

.code {
    height: 90px;
    margin-top: -5px;
}

.designation {
    margin-top: -15px;
    padding-top: 0;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 2rem;
}

.separator {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #6d5b47;
    font-size: 3rem;
    padding-top: 50px;
}

.portfolio-txt {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #6d5b47;
    text-align: left;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.portfolio-txt > span {
    font-weight: 700;
}

.middle-container {
    display: block;
    background-color: #f4eee8;
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.my-image {
    height: 175px;
    width: 175px;
    border-radius: 50%;
}

h2{
    margin-top: 21px;
    padding-top: 0px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #6d5b47;
}

.about-me { 
    font-size: 21px;
    color: #3c3126;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

hr {
    border: dotted #d1d1d1 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto; 
}

.skills{
    display: grid;
    padding-top: 0;
    margin-top: 0;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    margin: 100px auto 0 auto;
    align-items: center;
}

.grid-divs > img {
    height: 170px;
}

.skills-head {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #6d5b47;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 1.17em;
    color: #6d5b47;
}

.contact-txt {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-top: 25px;
}

button {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    padding: 10px;
    margin-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(180deg, rgba(109,91,71,1) 0%, rgba(83,61,37,1) 67%, rgba(43,25,4,1) 100%);
    color: white;

}

button:hover{
    background: #6d5b47;
}

.bottom-container{
    padding: 50px;
    text-align: center;
}

.footer-link{
    text-decoration: none;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    color: #8c7a68;
    padding: 25px;
}

.footer-link:hover{
    color: white;
}

.copyright {
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    color: #31271e;
    padding-top: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.skills-desc{
    text-align: left;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    margin-top: -5px;
    line-height: 32.5px;
}